body {
    background-color: #5954dad7; 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 20px;
}

.container {
    width: 600px; 
    margin: auto; 
    padding: 20px;
    background-color: #dceefff5; 
    border: 5px solid #000bd5; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #1527c7;
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

p {
    color: #0c0092; 
    line-height: 1.6; 
    margin: auto; 
}