body {
    background-color: #d2b5f2; 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 20px;
}

.container {
    width: 600px; 
    margin: auto; 
    padding: 20px;
    background-color: #eecdf4; 
    border: 5px solid #800080; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #800080;
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

p {
    color: #4b0082; 
    line-height: 1.6; 
    margin: auto; 
}